ALCHEMY_LIVE_API_KEY=your_api_key

ALCHEMY_LIVE_NETWORK=eth-sepolia
ALCHEMY_LIVE_EVM_PRIVATE_KEY=your_evm_private_key
ALCHEMY_LIVE_EVM_RECIPIENT=0xYourRecipientAddress
ALCHEMY_LIVE_EVM_CONTRACT_ADDRESS=0x7b79995e5f793A07Bc00c21412e50Ecae098E7f9
ALCHEMY_LIVE_EVM_GAS_POLICY_ID=
ALCHEMY_LIVE_EVM_SEND_AMOUNT=0.000001
ALCHEMY_LIVE_EVM_DEPOSIT_AMOUNT=0.000001
ALCHEMY_LIVE_MIN_EVM_WEI=10000000000000000

ALCHEMY_LIVE_SOLANA_NETWORK=solana-devnet
ALCHEMY_LIVE_SOLANA_PRIVATE_KEY=[1,2,3]
ALCHEMY_LIVE_SOLANA_RECIPIENT=YourSolanaRecipient
ALCHEMY_LIVE_SOLANA_GAS_POLICY_ID=
ALCHEMY_LIVE_SOLANA_SEND_AMOUNT=0.001
ALCHEMY_LIVE_MIN_SOL_LAMPORTS=20000000
